
{% extends "template_seja.html"%}
{% load staticfiles%}

{% block content%}

    <section id="team">
      <div class="container">
        <div class="row">
           <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Assistência Estudantil</h2>
            <p class="text-muted">Núcleo de Apoio Pedagógico – NAP</p>
          </div>
        </div>
       
        <div class="row text-center">
         
          <div class="col-md-12 team-member">
            <h4>O que é NAP?</h4>
              <p class="text-muted" style="text-align: justify;"> É um órgão setorial da UFSM Campus de Frederico Westphalen que operacionaliza as ações de Assistência Estudantil sob orientação da Pró-Reitoria de Assuntos Estudantis (PRAE). Tem por objetivo oferecer apoio e assistência estudantil, contribuindo para o desenvolvimento, a adaptação e a permanência do estudante na Universidade.</p>
              
          </div>
          <div class="col-md-12 team-member">
            <h4>O que você encontra no NAP?</h4>
              <p class="text-muted" style="text-align: justify;"><span style="font-style:oblique;font-size: 22px; ">Programa do Benefício Socioeconômico (BSE):</span>
              É um direito do estudante regularmente matriculado em cursos presenciais da UFSM e que se encontra em situação de vulnerabilidade socioeconômica. No início de cada semestre a PRAE lança o edital com as informações e os critérios que o estudante precisa atender para realizar a solicitação, a qual deverá ser feita no Portal do Aluno, por meio do preenchimento do formulário do BSE.</p>
              <p class="text-muted" style="text-align: justify;">A partir da solicitação, o estudante receberá um e-mail com a relação dos documentos comprobatórios que precisará entregar à equipe do Serviço Social do NAP.
              Enquanto o estudante (calouro) estiver aguardando a avaliação socioeconômica, ele tem direito ao BSE provisório para Auxílio Alimentação (mediante solicitação do BSE no Portal do Aluno e preenchimento de declaração no NAP) e Auxílio à Moradia (mediante entrega dos documentos e conforme disponibilidade orçamentária da Instituição).Os estudantes que realizaram comprovação de renda no momento da matrícula (por estarem vinculados a determinadas cotas) são dispensados da apresentação de documentos. No entanto, necessitam preencher o formulário de solicitação e comparecer ao NAP para ativação do BSE.</p>
              
          </div>
          <div class="col-md-12 team-member">
            <h4>Auxílios disponíneis:</h4>
            <div class="row">    
                    <div class="col-md-6">
                        <p class="text-muted" style="text-align: justify;">Algumas das ações da Assistência Estudantil são disponibilizadas apenas aos estudantes  em situação de vulnerabilidade socioeconômica, ou seja, que tenham o BSE aprovado. Confira quais são elas: </p>
                        <p class="text-muted" style="text-align: justify;"> - Moradia Estudantil (Casa do Estudante e Auxílio à Moradia).</p>
                        <p class="text-muted" style="text-align: justify;"> - Auxílio Transporte.</p>
                        <p class="text-muted" style="text-align: justify;"> - Auxílio para a Aquisição de Material Pedagógico.</p>
                        <p class="text-muted" style="text-align: justify;"> - Auxílio Alimentação.</p>
                        <p class="text-muted" style="text-align: justify;"> - Auxílio Educação Infantil.</p>
                      </div>
                        <div class="col-md-6">
                        <p class="text-muted" style="text-align: justify;">Há outras, no entanto, que são oferecidas a toda comunidade estudantil: </p>
                        <p class="text-muted" style="text-align: justify;"> - Atendimento psicológico.</p>
                        <p class="text-muted"style="text-align: justify;"> - Atendimento social.</p>
                        <p class="text-muted"style="text-align: justify;"> - Acolhimento e orientações ao calouro e sua família.</p>
                        <p class="text-muted"style="text-align: justify;"> - Espaços de apoio pedagógico (grupos de apoio, palestras, oficinas, etc).</p>
                        <p class="text-muted"style="text-align: justify;"> - Bolsa Formação Estudantil (para participação em eventos).</p>
                        <p class="text-muted"style="text-align: justify;"> - Bolsa de Assistência ao Estudante (atividades remuneradas em diversos setores).</p>
                      </div>
                      <div class="col-md-12">
                        <p class="text-muted"  style="text-align: justify;"> Para sabe como obter o BSE e os demais auxílios, acesse <a href="http://w3.ufsm.br/prae/" target="_blank">www.ufsm.br/prae</a> e confira as resoluções e os editais.
                            <span style="font-style: oblique;">* Editais em andamento também estão disponíveis no mural do NAP e são compartilhados via Facebook.
                             A leitura e o cumprimento dos editais são de inteira responsabilidade do estudante.</span>
                            </p>
                      </div>

            </div>
          <div class="col-md-12 team-member">
            <h4>Contato:</h4>
              <p class="text-muted">Localização: Sala 102 – Bloco 1 </p>
              <p class="text-muted">E-mail: napfw@ufsm.br</p>
              <p class="text-muted">Contato: (55) 3744-0606</p>
              <p class="text-muted">Facebook:<a href="https://www.facebook.com/napufsm.fredericowestphalen" target="_blank"> facebook.com/napufsm.fredericowestphalen</a></p>
          </div>
           
        </div>
       
      </div>
    </section>


    {% endblock %}