{% extends "template_seja.html"%}
{% load staticfiles%}

{% block content%}
<section>
          <div class="container">
              <div class="row">
                  {%for noticias in noticias %}
                    <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">{{noticias.Titulo}}</h2>
                    </div>
            
                    <div class="col-lg-12 corpo" >
                    {{noticias.Texto}}
                    </div>  
                     {%endfor%}           
                </div>
      <br><br>  
      <div class="row">
       
         {%for imagens in imagens %}
          <div class=" col-sm-3 portfolio-item" align="center">
            <img class=" img-thumbnail"  style = " height: 250px; width: 250px;" src="{{imagens.Imagem.url}}" alt="">
          </div>

          {%endfor%}
         
           
       </div>
        <div class="pagination">
                        <span class="step-links" style=": center">
                            {% if imagens.has_previous %}
                                <a href="?page=1">&laquo; Primeira</a>
                                <a href="?page={{ imagens.previous_page_number }}">Anterior</a>
                            {% endif %}

                            <span class="current">
                                Pagina {{ imagens.number }} de {{ imagens.paginator.num_pages }}.
                            </span>

                            {% if imagens.has_next %}
                                <a href="?page={{ imagens.next_page_number }}">Próxima</a>
                                <a href="?page={{ imagens.paginator.num_pages }}">Última &raquo;</a>
                            {% endif %}
                        </span>
            </div>
</div>

 </section>

{% endblock %}