
{% extends "template_seja.html"%}
{%load staticfiles%}
{% block content%}
     <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Horários de Ônibus</h2>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-12">
          <img style="width: 1000px; height: 1500px;" src="{% static 'b/img/utilidades/horario.jpg' %}">
          <img style="width: 1000px; height: 1500px;" src="{% static 'b/img/utilidades/horario1.jpg' %}">
            </div>
        </div>
       </div>
    </section>

  

    {% endblock %}
